<div v-if="description" class="help-block description">\{{ description }}</div>
<template v-if="readonly">
  <ul class="file-holder">
    <li class="file-item" v-for="(file, index) in value" @click="onFileItemClick(file.url)">
      <div class="file-title">\{{ file.name }}</div>
      <div class="file-info">
        <span class="file-info-uploaded">Uploaded: \{{ showLocalDateFormat(file.createdAt) }}</span>
        <span v-show="file.metadata && file.metadata.size" class="file-info-size">Size: \{{ humanFileSize(file.metadata && file.metadata.size) }}</span>
      </div>
      <div class="file-icon">
        <i class="fa fa-angle-right"></i>
      </div>
    </li>
  </ul>
</template>
<div v-else class="fileUpload file-input" :class="{ 'fileUpload-padding-top': value.length }">
  <div class="row">
    <div ref="canvasWrap" class="text-center" v-for="(file, index) in value">
      <div class="canvas-holder">
        <canvas v-if="isFileImage(file)"></canvas>
        <div class="file-icon" v-else><i class="fa fa-file"></i></div>
        <button class="canvas-remove" type="button" v-on:click="removeFile(index)"></button>
      </div>
      <span class="file-name">\{{ file.name }}</span>
    </div>
  </div>
  <label class="btn btn-primary">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>Choose file</span>
    <input type="file" ref="fileInput" :id="name" :name="name" :data-folder-id="mediaFolderId" class="input-file selectfile" :required="required" v-on:change="updateValue()" multiple>
  </label>
</div>
 